<!-- <div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Login here !!</h1>

                <form (ngSubmit)="onSubmit()">
                    <div class="text-center mt">
                        <label>UserName :</label>
                            <input [(ngModel)]="credentials.username" name="username" required type="text" placeholder="username">
                    </div>

                    <div class="text-center mt">
                        <label>Password :</label>
                            <input [(ngModel)]="credentials.password" name="password" required type="password" placeholder="password">
                    </div>

                    <div class="container text-center mt">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <br>
               <p> {{credentials | json}}</p>
            </div>
        </div>
    </div>
</div> -->
<!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->


<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">


        <!-- <form (ngSubmit)="onSubmit()">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p style="color:blue" class="lead fw-normal mb-0 me-3">Welcome Back</p>
              
              </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">*</p>
            </div>
   
        
             <div class="form-outline mb-4">
              <input [(ngModel)]="credentials.username" name="username" required  type="text" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
              <label class="form-label" for="form3Example3">Email address</label>
            </div> 
   
            
             <div class="form-outline mb-3">
              <input  [(ngModel)]="credentials.password" name="password" required type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

  
             <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger">Register</a></p>
            </div>
  
          </form> -->

        <form class="mx-1 mx-md-4" [formGroup]="myForm" (ngSubmit)="onSubmit()">

          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p style="color:blue" class="lead fw-normal mb-0 me-3">Welcome Back</p>

          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">*</p>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="email">Your Username</label>
              <input type="email" id="email" class="form-control" formControlName="email" />
              <!-- <div class="form-text text-danger" *ngIf="email.errors?.['required']&& email.touched" >
                            Email is required
                        </div>
                        <div class="form-text text-danger" *ngIf="email.touched && email.errors?.['pattern']">
                            Enter a valid Email Id
                        </div> -->
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="pwd">Password</label>
              <input [class.is-invalid]="this.myForm.controls.pwd.invalid && this.myForm.controls.pwd.touched"
                type="password" class="form-control" formControlName="pwd">
              <small [class.d-none]="this.myForm.controls.pwd.valid || this.myForm.controls.pwd.untouched"
                class="text-danger">Enter a valid password</small>
            </div>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger">Register</a>
            </p>
          </div>
        </form>



      </div>
    </div>
  </div>
  <!-- <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
       </div>
      
     </div> -->
</section>